In [7]:
import pandas as pd
import os

In [35]:
list_of_files = os.listdir('X:\data_dumps\Combined_Weakly')

In [37]:
 w = 'X:\data_dumps\Combined_Weakly'

In [38]:
df = pd.DataFrame()
df2 = pd.DataFrame()

In [39]:
for x in list_of_files:
    df = pd.DataFrame()
    df = pd.read_hdf(w + "\\" + x)
    df2 = df2.append(df)

In [42]:
compression_opts = dict(method='zip',
                        archive_name='weakly_2018.csv')  
df2.to_csv('weakly_2018.zip', index=False,
          compression=compression_opts)

In [101]:
df2 = pd.read_csv(r'weakly_2018.zip', compression='zip')

In [102]:
df2

,Datetime,gic,Bz,By,Bx,clock,AE,SymH,Vsw,Dsw,Psw,newell
0,2018-01-01 00:00:00,0.17,-5.540700,-3.928933,-0.160000,3.758403,285.2500,-3.640000,371.070000,13.012667,3.584333,8408.696468
1,2018-01-01 00:00:01,0.17,-5.533348,-3.942693,-0.150167,3.760681,285.3405,-3.658667,371.077844,13.014269,3.584904,8402.231771
2,2018-01-01 00:00:02,0.16,-5.525997,-3.956453,-0.140333,3.762957,285.4310,-3.677333,371.085689,13.015871,3.585476,8395.785348
3,2018-01-01 00:00:03,0.19,-5.518645,-3.970213,-0.130500,3.765232,285.5215,-3.696000,371.093533,13.017473,3.586047,8389.357086
4,2018-01-01 00:00:04,0.15,-5.511293,-3.983973,-0.120667,3.767506,285.6120,-3.714667,371.101378,13.019076,3.586618,8382.947127
...,...,...,...,...,...,...,...,...,...,...,...,...
30786169,2018-12-31 23:59:55,0.10,2.842267,2.100433,-3.306100,0.636423,-99999.9900,-3.740000,452.281667,5.033389,2.061000,448.101572
30786170,2018-12-31 23:59:56,0.14,2.840353,2.101353,-3.307660,0.636955,-99999.9900,-3.734667,452.278556,5.037178,2.062533,449.082804
30786171,2018-12-31 23:59:57,0.12,2.838440,2.102273,-3.309220,0.637486,-99999.9900,-3.729333,452.275444,5.040967,2.064067,450.065938
30786172,2018-12-31 23:59:58,0.10,2.836527,2.103193,-3.310780,0.638018,-99999.9900,-3.724000,452.272333,5.044756,2.065600,451.050999
30786173,2018-12-31 23:59:59,0.14,2.834613,2.104113,-3.312340,0.638550,-99999.9900,-3.718667,452.269222,5.048544,2.067133,452.037968

In [103]:
df2 = df2.reset_index(drop=True)

In [108]:
df2

,Datetime,gic,Bz,By,Bx,clock,AE,SymH,Vsw,Dsw,Psw,newell
0,2018-01-01 00:00:00,0.17,-5.540700,-3.928933,-0.160000,3.758403,285.2500,-3.640000,371.070000,13.012667,3.584333,8408.696468
1,2018-01-01 00:00:01,0.17,-5.533348,-3.942693,-0.150167,3.760681,285.3405,-3.658667,371.077844,13.014269,3.584904,8402.231771
2,2018-01-01 00:00:02,0.16,-5.525997,-3.956453,-0.140333,3.762957,285.4310,-3.677333,371.085689,13.015871,3.585476,8395.785348
3,2018-01-01 00:00:03,0.19,-5.518645,-3.970213,-0.130500,3.765232,285.5215,-3.696000,371.093533,13.017473,3.586047,8389.357086
4,2018-01-01 00:00:04,0.15,-5.511293,-3.983973,-0.120667,3.767506,285.6120,-3.714667,371.101378,13.019076,3.586618,8382.947127
...,...,...,...,...,...,...,...,...,...,...,...,...
30786169,2018-12-31 23:59:55,0.10,2.842267,2.100433,-3.306100,0.636423,-99999.9900,-3.740000,452.281667,5.033389,2.061000,448.101572
30786170,2018-12-31 23:59:56,0.14,2.840353,2.101353,-3.307660,0.636955,-99999.9900,-3.734667,452.278556,5.037178,2.062533,449.082804
30786171,2018-12-31 23:59:57,0.12,2.838440,2.102273,-3.309220,0.637486,-99999.9900,-3.729333,452.275444,5.040967,2.064067,450.065938
30786172,2018-12-31 23:59:58,0.10,2.836527,2.103193,-3.310780,0.638018,-99999.9900,-3.724000,452.272333,5.044756,2.065600,451.050999
30786173,2018-12-31 23:59:59,0.14,2.834613,2.104113,-3.312340,0.638550,-99999.9900,-3.718667,452.269222,5.048544,2.067133,452.037968

In [123]:
dfw = pd.DataFrame()
dft = pd.DataFrame()

In [124]:
dfw=df2.copy()

In [125]:
dfw

,Datetime,gic,Bz,By,Bx,clock,AE,SymH,Vsw,Dsw,Psw,newell
0,2018-01-01 00:00:00,0.17,-5.540700,-3.928933,-0.160000,3.758403,285.2500,-3.640000,371.070000,13.012667,3.584333,8408.696468
1,2018-01-01 00:00:01,0.17,-5.533348,-3.942693,-0.150167,3.760681,285.3405,-3.658667,371.077844,13.014269,3.584904,8402.231771
2,2018-01-01 00:00:02,0.16,-5.525997,-3.956453,-0.140333,3.762957,285.4310,-3.677333,371.085689,13.015871,3.585476,8395.785348
3,2018-01-01 00:00:03,0.19,-5.518645,-3.970213,-0.130500,3.765232,285.5215,-3.696000,371.093533,13.017473,3.586047,8389.357086
4,2018-01-01 00:00:04,0.15,-5.511293,-3.983973,-0.120667,3.767506,285.6120,-3.714667,371.101378,13.019076,3.586618,8382.947127
...,...,...,...,...,...,...,...,...,...,...,...,...
30786169,2018-12-31 23:59:55,0.10,2.842267,2.100433,-3.306100,0.636423,-99999.9900,-3.740000,452.281667,5.033389,2.061000,448.101572
30786170,2018-12-31 23:59:56,0.14,2.840353,2.101353,-3.307660,0.636955,-99999.9900,-3.734667,452.278556,5.037178,2.062533,449.082804
30786171,2018-12-31 23:59:57,0.12,2.838440,2.102273,-3.309220,0.637486,-99999.9900,-3.729333,452.275444,5.040967,2.064067,450.065938
30786172,2018-12-31 23:59:58,0.10,2.836527,2.103193,-3.310780,0.638018,-99999.9900,-3.724000,452.272333,5.044756,2.065600,451.050999
30786173,2018-12-31 23:59:59,0.14,2.834613,2.104113,-3.312340,0.638550,-99999.9900,-3.718667,452.269222,5.048544,2.067133,452.037968

In [128]:
 dfw['Datetime'] = dfw['Datetime'].astype('datetime64[ns]')

In [129]:
dfw

,Datetime,gic,Bz,By,Bx,clock,AE,SymH,Vsw,Dsw,Psw,newell
0,2018-01-01 00:00:00,0.17,-5.540700,-3.928933,-0.160000,3.758403,285.2500,-3.640000,371.070000,13.012667,3.584333,8408.696468
1,2018-01-01 00:00:01,0.17,-5.533348,-3.942693,-0.150167,3.760681,285.3405,-3.658667,371.077844,13.014269,3.584904,8402.231771
2,2018-01-01 00:00:02,0.16,-5.525997,-3.956453,-0.140333,3.762957,285.4310,-3.677333,371.085689,13.015871,3.585476,8395.785348
3,2018-01-01 00:00:03,0.19,-5.518645,-3.970213,-0.130500,3.765232,285.5215,-3.696000,371.093533,13.017473,3.586047,8389.357086
4,2018-01-01 00:00:04,0.15,-5.511293,-3.983973,-0.120667,3.767506,285.6120,-3.714667,371.101378,13.019076,3.586618,8382.947127
...,...,...,...,...,...,...,...,...,...,...,...,...
30786169,2018-12-31 23:59:55,0.10,2.842267,2.100433,-3.306100,0.636423,-99999.9900,-3.740000,452.281667,5.033389,2.061000,448.101572
30786170,2018-12-31 23:59:56,0.14,2.840353,2.101353,-3.307660,0.636955,-99999.9900,-3.734667,452.278556,5.037178,2.062533,449.082804
30786171,2018-12-31 23:59:57,0.12,2.838440,2.102273,-3.309220,0.637486,-99999.9900,-3.729333,452.275444,5.040967,2.064067,450.065938
30786172,2018-12-31 23:59:58,0.10,2.836527,2.103193,-3.310780,0.638018,-99999.9900,-3.724000,452.272333,5.044756,2.065600,451.050999
30786173,2018-12-31 23:59:59,0.14,2.834613,2.104113,-3.312340,0.638550,-99999.9900,-3.718667,452.269222,5.048544,2.067133,452.037968

In [120]:
#dfw = dfw.set_index('Datetime')

In [127]:
dfw.head()

,Datetime,gic,Bz,By,Bx,clock,AE,SymH,Vsw,Dsw,Psw,newell
0,2018-01-01 00:00:00,0.17,-5.540700,-3.928933,-0.160000,3.758403,285.2500,-3.640000,371.070000,13.012667,3.584333,8408.696468
1,2018-01-01 00:00:01,0.17,-5.533348,-3.942693,-0.150167,3.760681,285.3405,-3.658667,371.077844,13.014269,3.584904,8402.231771
2,2018-01-01 00:00:02,0.16,-5.525997,-3.956453,-0.140333,3.762957,285.4310,-3.677333,371.085689,13.015871,3.585476,8395.785348
3,2018-01-01 00:00:03,0.19,-5.518645,-3.970213,-0.130500,3.765232,285.5215,-3.696000,371.093533,13.017473,3.586047,8389.357086
4,2018-01-01 00:00:04,0.15,-5.511293,-3.983973,-0.120667,3.767506,285.6120,-3.714667,371.101378,13.019076,3.586618,8382.947127

In [130]:
dfw['seconds'] = dfw['Datetime'].dt.second

In [131]:
dfw

,Datetime,gic,Bz,By,Bx,clock,AE,SymH,Vsw,Dsw,Psw,newell,seconds
0,2018-01-01 00:00:00,0.17,-5.540700,-3.928933,-0.160000,3.758403,285.2500,-3.640000,371.070000,13.012667,3.584333,8408.696468,0
1,2018-01-01 00:00:01,0.17,-5.533348,-3.942693,-0.150167,3.760681,285.3405,-3.658667,371.077844,13.014269,3.584904,8402.231771,1
2,2018-01-01 00:00:02,0.16,-5.525997,-3.956453,-0.140333,3.762957,285.4310,-3.677333,371.085689,13.015871,3.585476,8395.785348,2
3,2018-01-01 00:00:03,0.19,-5.518645,-3.970213,-0.130500,3.765232,285.5215,-3.696000,371.093533,13.017473,3.586047,8389.357086,3
4,2018-01-01 00:00:04,0.15,-5.511293,-3.983973,-0.120667,3.767506,285.6120,-3.714667,371.101378,13.019076,3.586618,8382.947127,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...
30786169,2018-12-31 23:59:55,0.10,2.842267,2.100433,-3.306100,0.636423,-99999.9900,-3.740000,452.281667,5.033389,2.061000,448.101572,55
30786170,2018-12-31 23:59:56,0.14,2.840353,2.101353,-3.307660,0.636955,-99999.9900,-3.734667,452.278556,5.037178,2.062533,449.082804,56
30786171,2018-12-31 23:59:57,0.12,2.838440,2.102273,-3.309220,0.637486,-99999.9900,-3.729333,452.275444,5.040967,2.064067,450.065938,57
30786172,2018-12-31 23:59:58,0.10,2.836527,2.103193,-3.310780,0.638018,-99999.9900,-3.724000,452.272333,5.044756,2.065600,451.050999,58
30786173,2018-12-31 23:59:59,0.14,2.834613,2.104113,-3.312340,0.638550,-99999.9900,-3.718667,452.269222,5.048544,2.067133,452.037968,59

In [132]:
dfw = dfw[dfw['seconds'] <= 0]

In [133]:
dfw

,Datetime,gic,Bz,By,Bx,clock,AE,SymH,Vsw,Dsw,Psw,newell,seconds
0,2018-01-01 00:00:00,0.17,-5.5407,-3.928933,-0.1600,3.758403,285.25,-3.640000,371.070000,13.012667,3.584333,8408.696468,0
60,2018-01-01 00:01:00,0.17,-5.0996,-4.754533,0.4300,3.891988,290.68,-4.760000,371.540667,13.108800,3.618600,8053.182136,0
120,2018-01-01 00:02:00,0.22,-4.6552,-5.393200,0.9440,4.000304,294.20,-5.960000,372.138667,13.232800,3.663000,7734.425453,0
180,2018-01-01 00:03:00,0.13,-4.5236,-5.666800,1.1748,4.038708,290.64,-6.600000,372.732000,13.196400,3.664600,7677.776495,0
240,2018-01-01 00:04:00,0.09,-4.4976,-5.764000,1.2908,4.049781,284.76,-7.080000,373.162000,13.187500,3.670800,7689.198281,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
30785874,2018-12-31 23:55:00,0.09,3.3244,1.748000,-2.6244,0.484081,-99999.99,-4.160000,459.383000,4.309700,1.815967,216.757583,0
30785934,2018-12-31 23:56:00,0.10,3.2607,1.786500,-2.7931,0.501221,-99999.99,-4.260000,459.118750,4.268125,1.796458,239.553287,0
30785994,2018-12-31 23:57:00,0.09,3.1755,1.885833,-2.9407,0.535900,-99999.99,-4.393333,458.433333,4.248333,1.782778,287.503047,0
30786054,2018-12-31 23:58:00,0.11,3.0707,1.974233,-3.1003,0.571386,-99999.99,-4.233333,455.077778,4.531667,1.875000,339.551441,0
30786114,2018-12-31 23:59:00,0.12,2.9475,2.049833,-3.2203,0.607664,-99999.99,-4.033333,452.452778,4.825000,1.976667,396.993755,0

In [134]:
dfw.set_index('Datetime')
dfw = dfw.reset_index(drop=True)

In [136]:
dfw = dfw.set_index('Datetime')

In [137]:
dfw

,gic,Bz,By,Bx,clock,AE,SymH,Vsw,Dsw,Psw,newell,seconds
Datetime,,,,,,,,,,,,
2018-01-01 00:00:00,0.17,-5.5407,-3.928933,-0.1600,3.758403,285.25,-3.640000,371.070000,13.012667,3.584333,8408.696468,0
2018-01-01 00:01:00,0.17,-5.0996,-4.754533,0.4300,3.891988,290.68,-4.760000,371.540667,13.108800,3.618600,8053.182136,0
2018-01-01 00:02:00,0.22,-4.6552,-5.393200,0.9440,4.000304,294.20,-5.960000,372.138667,13.232800,3.663000,7734.425453,0
2018-01-01 00:03:00,0.13,-4.5236,-5.666800,1.1748,4.038708,290.64,-6.600000,372.732000,13.196400,3.664600,7677.776495,0
2018-01-01 00:04:00,0.09,-4.4976,-5.764000,1.2908,4.049781,284.76,-7.080000,373.162000,13.187500,3.670800,7689.198281,0
...,...,...,...,...,...,...,...,...,...,...,...,...
2018-12-31 23:55:00,0.09,3.3244,1.748000,-2.6244,0.484081,-99999.99,-4.160000,459.383000,4.309700,1.815967,216.757583,0
2018-12-31 23:56:00,0.10,3.2607,1.786500,-2.7931,0.501221,-99999.99,-4.260000,459.118750,4.268125,1.796458,239.553287,0
2018-12-31 23:57:00,0.09,3.1755,1.885833,-2.9407,0.535900,-99999.99,-4.393333,458.433333,4.248333,1.782778,287.503047,0
2018-12-31 23:58:00,0.11,3.0707,1.974233,-3.1003,0.571386,-99999.99,-4.233333,455.077778,4.531667,1.875000,339.551441,0
2018-12-31 23:59:00,0.12,2.9475,2.049833,-3.2203,0.607664,-99999.99,-4.033333,452.452778,4.825000,1.976667,396.993755,0

In [141]:
dfw.drop(['seconds'], axis=1)

,gic,Bz,By,Bx,clock,AE,SymH,Vsw,Dsw,Psw,newell
Datetime,,,,,,,,,,,
2018-01-01 00:00:00,0.17,-5.5407,-3.928933,-0.1600,3.758403,285.25,-3.640000,371.070000,13.012667,3.584333,8408.696468
2018-01-01 00:01:00,0.17,-5.0996,-4.754533,0.4300,3.891988,290.68,-4.760000,371.540667,13.108800,3.618600,8053.182136
2018-01-01 00:02:00,0.22,-4.6552,-5.393200,0.9440,4.000304,294.20,-5.960000,372.138667,13.232800,3.663000,7734.425453
2018-01-01 00:03:00,0.13,-4.5236,-5.666800,1.1748,4.038708,290.64,-6.600000,372.732000,13.196400,3.664600,7677.776495
2018-01-01 00:04:00,0.09,-4.4976,-5.764000,1.2908,4.049781,284.76,-7.080000,373.162000,13.187500,3.670800,7689.198281
...,...,...,...,...,...,...,...,...,...,...,...
2018-12-31 23:55:00,0.09,3.3244,1.748000,-2.6244,0.484081,-99999.99,-4.160000,459.383000,4.309700,1.815967,216.757583
2018-12-31 23:56:00,0.10,3.2607,1.786500,-2.7931,0.501221,-99999.99,-4.260000,459.118750,4.268125,1.796458,239.553287
2018-12-31 23:57:00,0.09,3.1755,1.885833,-2.9407,0.535900,-99999.99,-4.393333,458.433333,4.248333,1.782778,287.503047
2018-12-31 23:58:00,0.11,3.0707,1.974233,-3.1003,0.571386,-99999.99,-4.233333,455.077778,4.531667,1.875000,339.551441
2018-12-31 23:59:00,0.12,2.9475,2.049833,-3.2203,0.607664,-99999.99,-4.033333,452.452778,4.825000,1.976667,396.993755

In [56]:
df3 = pd.read_csv(r'C:\Users\cgree\Documents\Astra\Space_weather5_22\2018_sm_reg.csv')
df3 = df3.set_index('Date_UTC')
df3

,SMEr00,SMEr01,SMEr02,SMEr03,SMEr04,SMEr05,SMEr06,SMEr07,SMEr08,SMEr09,...,GSM_By,GSM_Bz,GSE_Vx,GSE_Vy,GSM_Vz,CLOCK_ANGLE_GSM,DENSITY,PDYN,EPSILON,NEWELL
Date_UTC,,,,,,,,,,,,,,,,,,,,,
2018-01-01 00:00:00,218,220,220,220,85,85,85,31,31,31,...,-4.61,-5.16,999999.0,999999.00,999999.00,221.8,999999.0,999999.0,999999.0,999999.0
2018-01-01 00:01:00,220,220,214,211,88,88,88,35,35,35,...,-6.64,-4.20,368.4,6.34,-33.90,237.7,13.5,3.7,276.5,7331.6
2018-01-01 00:02:00,220,220,212,207,81,81,81,42,42,42,...,-6.02,-4.24,368.5,6.15,-33.85,234.8,13.4,3.7,255.7,7276.7
2018-01-01 00:03:00,220,220,212,206,70,70,70,39,39,39,...,-5.61,-4.48,373.1,0.67,-32.31,231.4,13.2,3.7,260.3,7572.4
2018-01-01 00:04:00,220,220,212,210,53,53,53,43,43,43,...,-5.60,-4.39,371.7,0.84,-32.87,231.9,13.1,3.7,252.5,7446.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2018-12-31 23:55:00,49,49,35,29,9,9,9,29,33,33,...,2.13,3.19,452.6,-0.69,-4.26,33.7,4.5,1.8,1.4,314.1
2018-12-31 23:56:00,37,37,35,28,11,11,11,30,33,33,...,1.25,3.44,999999.0,999999.00,999999.00,20.0,999999.0,999999.0,999999.0,999999.0
2018-12-31 23:57:00,64,65,30,30,13,13,13,29,32,32,...,2.34,2.93,999999.0,999999.00,999999.00,38.6,999999.0,999999.0,999999.0,999999.0
2018-12-31 23:58:00,125,131,31,31,12,12,12,28,32,32,...,2.02,3.10,999999.0,999999.00,999999.00,33.1,999999.0,999999.0,999999.0,999999.0
2018-12-31 23:59:00,137,137,36,31,13,13,13,28,32,32,...,1.96,3.00,999999.0,999999.00,999999.00,999999.0,999999.0,999999.0,999999.0,999999.0

In [142]:
df_merged = dfw.merge(df3, how='outer', left_index=True, right_index=True)

In [143]:
df_merged

,gic,Bz,By,Bx,clock,AE,SymH,Vsw,Dsw,Psw,...,GSM_By,GSM_Bz,GSE_Vx,GSE_Vy,GSM_Vz,CLOCK_ANGLE_GSM,DENSITY,PDYN,EPSILON,NEWELL
2018-01-01 00:00:00,0.17,-5.5407,-3.928933,-0.1600,3.758403,285.25,-3.640000,371.070000,13.012667,3.584333,...,-4.61,-5.16,999999.0,999999.00,999999.00,221.8,999999.0,999999.0,999999.0,999999.0
2018-01-01 00:01:00,0.17,-5.0996,-4.754533,0.4300,3.891988,290.68,-4.760000,371.540667,13.108800,3.618600,...,-6.64,-4.20,368.4,6.34,-33.90,237.7,13.5,3.7,276.5,7331.6
2018-01-01 00:02:00,0.22,-4.6552,-5.393200,0.9440,4.000304,294.20,-5.960000,372.138667,13.232800,3.663000,...,-6.02,-4.24,368.5,6.15,-33.85,234.8,13.4,3.7,255.7,7276.7
2018-01-01 00:03:00,0.13,-4.5236,-5.666800,1.1748,4.038708,290.64,-6.600000,372.732000,13.196400,3.664600,...,-5.61,-4.48,373.1,0.67,-32.31,231.4,13.2,3.7,260.3,7572.4
2018-01-01 00:04:00,0.09,-4.4976,-5.764000,1.2908,4.049781,284.76,-7.080000,373.162000,13.187500,3.670800,...,-5.60,-4.39,371.7,0.84,-32.87,231.9,13.1,3.7,252.5,7446.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2018-12-31 23:55:00,0.09,3.3244,1.748000,-2.6244,0.484081,-99999.99,-4.160000,459.383000,4.309700,1.815967,...,2.13,3.19,452.6,-0.69,-4.26,33.7,4.5,1.8,1.4,314.1
2018-12-31 23:56:00,0.10,3.2607,1.786500,-2.7931,0.501221,-99999.99,-4.260000,459.118750,4.268125,1.796458,...,1.25,3.44,999999.0,999999.00,999999.00,20.0,999999.0,999999.0,999999.0,999999.0
2018-12-31 23:57:00,0.09,3.1755,1.885833,-2.9407,0.535900,-99999.99,-4.393333,458.433333,4.248333,1.782778,...,2.34,2.93,999999.0,999999.00,999999.00,38.6,999999.0,999999.0,999999.0,999999.0
2018-12-31 23:58:00,0.11,3.0707,1.974233,-3.1003,0.571386,-99999.99,-4.233333,455.077778,4.531667,1.875000,...,2.02,3.10,999999.0,999999.00,999999.00,33.1,999999.0,999999.0,999999.0,999999.0
2018-12-31 23:59:00,0.12,2.9475,2.049833,-3.2203,0.607664,-99999.99,-4.033333,452.452778,4.825000,1.976667,...,1.96,3.00,999999.0,999999.00,999999.00,999999.0,999999.0,999999.0,999999.0,999999.0

In [145]:
compression_opts = dict(method='zip',
                        archive_name='master_weakly_2018.csv')  
df_merged.to_csv('master_weakly_2018.zip', index=True,
          compression=compression_opts)

In [ ]:
#df_merged = pd.read_csv(r'weakly_2018.zip', compression='zip')