In [21]:
import pandas as pd
import os
import numpy as np

In [124]:
df = pd.DataFrame()
df2 = pd.DataFrame()
df_merged_gic = pd.DataFrame()
df_merged = pd.DataFrame()

In [125]:
df_merged = pd.read_csv(r'master_weakly_2018.zip', compression='zip')

In [126]:
df_merged.columns

Index(['Unnamed: 0', 'gic', 'Bz', 'By', 'Bx', 'clock', 'AE', 'SymH', 'Vsw',
       'Dsw', 'Psw', 'newell', 'seconds', 'SMEr00', 'SMEr01', 'SMEr02',
       'SMEr03', 'SMEr04', 'SMEr05', 'SMEr06', 'SMEr07', 'SMEr08', 'SMEr09',
       'SMEr10', 'SMEr11', 'SMEr12', 'SMEr13', 'SMEr14', 'SMEr15', 'SMEr16',
       'SMEr17', 'SMEr18', 'SMEr19', 'SMEr20', 'SMEr21', 'SMEr22', 'SMEr23',
       'SMLr00', 'SMLr01', 'SMLr02', 'SMLr03', 'SMLr04', 'SMLr05', 'SMLr06',
       'SMLr07', 'SMLr08', 'SMLr09', 'SMLr10', 'SMLr11', 'SMLr12', 'SMLr13',
       'SMLr14', 'SMLr15', 'SMLr16', 'SMLr17', 'SMLr18', 'SMLr19', 'SMLr20',
       'SMLr21', 'SMLr22', 'SMLr23', 'SMUr00', 'SMUr01', 'SMUr02', 'SMUr03',
       'SMUr04', 'SMUr05', 'SMUr06', 'SMUr07', 'SMUr08', 'SMUr09', 'SMUr10',
       'SMUr11', 'SMUr12', 'SMUr13', 'SMUr14', 'SMUr15', 'SMUr16', 'SMUr17',
       'SMUr18', 'SMUr19', 'SMUr20', 'SMUr21', 'SMUr22', 'SMUr23', 'SMR00',
       'SMR06', 'SMR12', 'SMR18', 'GSM_Bx', 'GSM_By', 'GSM_Bz', 'GSE_Vx',
       'GSE_Vy', 'GSM_Vz', 'CLOCK_ANGLE_GSM', 'DENSITY', 'PDYN', 'EPSILON',
       'NEWELL'],
      dtype='object')

In [127]:
df_merged['Datetime'] = df_merged['Unnamed: 0']

In [128]:
df_merged

,Unnamed: 0,gic,Bz,By,Bx,clock,AE,SymH,Vsw,Dsw,...,GSM_Bz,GSE_Vx,GSE_Vy,GSM_Vz,CLOCK_ANGLE_GSM,DENSITY,PDYN,EPSILON,NEWELL,Datetime
0,2018-01-01 00:00:00,0.17,-5.5407,-3.928933,-0.1600,3.758403,285.25,-3.640000,371.070000,13.012667,...,-5.16,999999.0,999999.00,999999.00,221.8,999999.0,999999.0,999999.0,999999.0,2018-01-01 00:00:00
1,2018-01-01 00:01:00,0.17,-5.0996,-4.754533,0.4300,3.891988,290.68,-4.760000,371.540667,13.108800,...,-4.20,368.4,6.34,-33.90,237.7,13.5,3.7,276.5,7331.6,2018-01-01 00:01:00
2,2018-01-01 00:02:00,0.22,-4.6552,-5.393200,0.9440,4.000304,294.20,-5.960000,372.138667,13.232800,...,-4.24,368.5,6.15,-33.85,234.8,13.4,3.7,255.7,7276.7,2018-01-01 00:02:00
3,2018-01-01 00:03:00,0.13,-4.5236,-5.666800,1.1748,4.038708,290.64,-6.600000,372.732000,13.196400,...,-4.48,373.1,0.67,-32.31,231.4,13.2,3.7,260.3,7572.4,2018-01-01 00:03:00
4,2018-01-01 00:04:00,0.09,-4.4976,-5.764000,1.2908,4.049781,284.76,-7.080000,373.162000,13.187500,...,-4.39,371.7,0.84,-32.87,231.9,13.1,3.7,252.5,7446.5,2018-01-01 00:04:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
525595,2018-12-31 23:55:00,0.09,3.3244,1.748000,-2.6244,0.484081,-99999.99,-4.160000,459.383000,4.309700,...,3.19,452.6,-0.69,-4.26,33.7,4.5,1.8,1.4,314.1,2018-12-31 23:55:00
525596,2018-12-31 23:56:00,0.10,3.2607,1.786500,-2.7931,0.501221,-99999.99,-4.260000,459.118750,4.268125,...,3.44,999999.0,999999.00,999999.00,20.0,999999.0,999999.0,999999.0,999999.0,2018-12-31 23:56:00
525597,2018-12-31 23:57:00,0.09,3.1755,1.885833,-2.9407,0.535900,-99999.99,-4.393333,458.433333,4.248333,...,2.93,999999.0,999999.00,999999.00,38.6,999999.0,999999.0,999999.0,999999.0,2018-12-31 23:57:00
525598,2018-12-31 23:58:00,0.11,3.0707,1.974233,-3.1003,0.571386,-99999.99,-4.233333,455.077778,4.531667,...,3.10,999999.0,999999.00,999999.00,33.1,999999.0,999999.0,999999.0,999999.0,2018-12-31 23:58:00
525599,2018-12-31 23:59:00,0.12,2.9475,2.049833,-3.2203,0.607664,-99999.99,-4.033333,452.452778,4.825000,...,3.00,999999.0,999999.00,999999.00,999999.0,999999.0,999999.0,999999.0,999999.0,2018-12-31 23:59:00

In [129]:
df2 = df_merged.set_index('Datetime')

In [130]:
df2

,Unnamed: 0,gic,Bz,By,Bx,clock,AE,SymH,Vsw,Dsw,...,GSM_By,GSM_Bz,GSE_Vx,GSE_Vy,GSM_Vz,CLOCK_ANGLE_GSM,DENSITY,PDYN,EPSILON,NEWELL
Datetime,,,,,,,,,,,,,,,,,,,,,
2018-01-01 00:00:00,2018-01-01 00:00:00,0.17,-5.5407,-3.928933,-0.1600,3.758403,285.25,-3.640000,371.070000,13.012667,...,-4.61,-5.16,999999.0,999999.00,999999.00,221.8,999999.0,999999.0,999999.0,999999.0
2018-01-01 00:01:00,2018-01-01 00:01:00,0.17,-5.0996,-4.754533,0.4300,3.891988,290.68,-4.760000,371.540667,13.108800,...,-6.64,-4.20,368.4,6.34,-33.90,237.7,13.5,3.7,276.5,7331.6
2018-01-01 00:02:00,2018-01-01 00:02:00,0.22,-4.6552,-5.393200,0.9440,4.000304,294.20,-5.960000,372.138667,13.232800,...,-6.02,-4.24,368.5,6.15,-33.85,234.8,13.4,3.7,255.7,7276.7
2018-01-01 00:03:00,2018-01-01 00:03:00,0.13,-4.5236,-5.666800,1.1748,4.038708,290.64,-6.600000,372.732000,13.196400,...,-5.61,-4.48,373.1,0.67,-32.31,231.4,13.2,3.7,260.3,7572.4
2018-01-01 00:04:00,2018-01-01 00:04:00,0.09,-4.4976,-5.764000,1.2908,4.049781,284.76,-7.080000,373.162000,13.187500,...,-5.60,-4.39,371.7,0.84,-32.87,231.9,13.1,3.7,252.5,7446.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2018-12-31 23:55:00,2018-12-31 23:55:00,0.09,3.3244,1.748000,-2.6244,0.484081,-99999.99,-4.160000,459.383000,4.309700,...,2.13,3.19,452.6,-0.69,-4.26,33.7,4.5,1.8,1.4,314.1
2018-12-31 23:56:00,2018-12-31 23:56:00,0.10,3.2607,1.786500,-2.7931,0.501221,-99999.99,-4.260000,459.118750,4.268125,...,1.25,3.44,999999.0,999999.00,999999.00,20.0,999999.0,999999.0,999999.0,999999.0
2018-12-31 23:57:00,2018-12-31 23:57:00,0.09,3.1755,1.885833,-2.9407,0.535900,-99999.99,-4.393333,458.433333,4.248333,...,2.34,2.93,999999.0,999999.00,999999.00,38.6,999999.0,999999.0,999999.0,999999.0
2018-12-31 23:58:00,2018-12-31 23:58:00,0.11,3.0707,1.974233,-3.1003,0.571386,-99999.99,-4.233333,455.077778,4.531667,...,2.02,3.10,999999.0,999999.00,999999.00,33.1,999999.0,999999.0,999999.0,999999.0
2018-12-31 23:59:00,2018-12-31 23:59:00,0.12,2.9475,2.049833,-3.2203,0.607664,-99999.99,-4.033333,452.452778,4.825000,...,1.96,3.00,999999.0,999999.00,999999.00,999999.0,999999.0,999999.0,999999.0,999999.0

In [131]:
df_merged = df2.drop(['Unnamed: 0'], axis=1)

In [132]:
df_merged

,gic,Bz,By,Bx,clock,AE,SymH,Vsw,Dsw,Psw,...,GSM_By,GSM_Bz,GSE_Vx,GSE_Vy,GSM_Vz,CLOCK_ANGLE_GSM,DENSITY,PDYN,EPSILON,NEWELL
Datetime,,,,,,,,,,,,,,,,,,,,,
2018-01-01 00:00:00,0.17,-5.5407,-3.928933,-0.1600,3.758403,285.25,-3.640000,371.070000,13.012667,3.584333,...,-4.61,-5.16,999999.0,999999.00,999999.00,221.8,999999.0,999999.0,999999.0,999999.0
2018-01-01 00:01:00,0.17,-5.0996,-4.754533,0.4300,3.891988,290.68,-4.760000,371.540667,13.108800,3.618600,...,-6.64,-4.20,368.4,6.34,-33.90,237.7,13.5,3.7,276.5,7331.6
2018-01-01 00:02:00,0.22,-4.6552,-5.393200,0.9440,4.000304,294.20,-5.960000,372.138667,13.232800,3.663000,...,-6.02,-4.24,368.5,6.15,-33.85,234.8,13.4,3.7,255.7,7276.7
2018-01-01 00:03:00,0.13,-4.5236,-5.666800,1.1748,4.038708,290.64,-6.600000,372.732000,13.196400,3.664600,...,-5.61,-4.48,373.1,0.67,-32.31,231.4,13.2,3.7,260.3,7572.4
2018-01-01 00:04:00,0.09,-4.4976,-5.764000,1.2908,4.049781,284.76,-7.080000,373.162000,13.187500,3.670800,...,-5.60,-4.39,371.7,0.84,-32.87,231.9,13.1,3.7,252.5,7446.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2018-12-31 23:55:00,0.09,3.3244,1.748000,-2.6244,0.484081,-99999.99,-4.160000,459.383000,4.309700,1.815967,...,2.13,3.19,452.6,-0.69,-4.26,33.7,4.5,1.8,1.4,314.1
2018-12-31 23:56:00,0.10,3.2607,1.786500,-2.7931,0.501221,-99999.99,-4.260000,459.118750,4.268125,1.796458,...,1.25,3.44,999999.0,999999.00,999999.00,20.0,999999.0,999999.0,999999.0,999999.0
2018-12-31 23:57:00,0.09,3.1755,1.885833,-2.9407,0.535900,-99999.99,-4.393333,458.433333,4.248333,1.782778,...,2.34,2.93,999999.0,999999.00,999999.00,38.6,999999.0,999999.0,999999.0,999999.0
2018-12-31 23:58:00,0.11,3.0707,1.974233,-3.1003,0.571386,-99999.99,-4.233333,455.077778,4.531667,1.875000,...,2.02,3.10,999999.0,999999.00,999999.00,33.1,999999.0,999999.0,999999.0,999999.0
2018-12-31 23:59:00,0.12,2.9475,2.049833,-3.2203,0.607664,-99999.99,-4.033333,452.452778,4.825000,1.976667,...,1.96,3.00,999999.0,999999.00,999999.00,999999.0,999999.0,999999.0,999999.0,999999.0

In [133]:
df_merged_gic

Empty DataFrame
Columns: []
Index: []

In [134]:
df_merged_gic['gic'] = df_merged['gic']
# df_merged_gic['gic'] = df_merged.drop(['gic'], axis=1)

In [135]:
df_merged_gic = df_merged_gic.replace([99999.9, 9999.99, 999.99, 999999.0 ,999999.00,-99999.990000,-99999.990000, '#REF!',np.nan ], 0)

In [136]:
df_merged_gic

                      gic
Datetime
2018-01-01 00:00:00  0.17
2018-01-01 00:01:00  0.17
2018-01-01 00:02:00  0.22
2018-01-01 00:03:00  0.13
2018-01-01 00:04:00  0.09
...                   ...
2018-12-31 23:55:00  0.09
2018-12-31 23:56:00  0.10
2018-12-31 23:57:00  0.09
2018-12-31 23:58:00  0.11
2018-12-31 23:59:00  0.12

[525600 rows x 1 columns]

In [137]:
df_merged_gic.describe()

                 gic
count  525600.000000
mean        0.003133
std         0.184809
min        -9.220000
25%        -0.080000
50%         0.010000
75%         0.090000
max         4.700000

In [138]:
df_merged_gic.columns

Index(['gic'], dtype='object')

In [139]:
df_merged_gic = df_merged_gic.drop(['principal component 1','principal component 2', 'principal component 3'], axis=1)

KeyError: "['principal component 1' 'principal component 2' 'principal component 3'] not found in axis"

In [140]:
df_merged_gic

                      gic
Datetime
2018-01-01 00:00:00  0.17
2018-01-01 00:01:00  0.17
2018-01-01 00:02:00  0.22
2018-01-01 00:03:00  0.13
2018-01-01 00:04:00  0.09
...                   ...
2018-12-31 23:55:00  0.09
2018-12-31 23:56:00  0.10
2018-12-31 23:57:00  0.09
2018-12-31 23:58:00  0.11
2018-12-31 23:59:00  0.12

[525600 rows x 1 columns]

In [141]:
df_merged = df_merged.replace([99999.9, 9999.99, 999.99, 999999.0 ,999999.00,-99999.990000,-99999.990000, '#REF!',np.nan ], 0)

In [144]:
df_merged.describe()

,gic,Bz,By,Bx,clock,AE,SymH,Vsw,Dsw,Psw,...,GSM_By,GSM_Bz,GSE_Vx,GSE_Vy,GSM_Vz,CLOCK_ANGLE_GSM,DENSITY,PDYN,EPSILON,NEWELL
count,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,...,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.00000,525600.000000
mean,0.003133,-0.098035,-0.405388,0.151692,3.076170,17.234646,-6.446583,374.198593,6.302422,1.942079,...,-0.399487,-0.094821,314.891988,-0.421297,-2.097201,175.447564,5.369589,1.653922,60.66616,2336.427986
std,0.184809,2.332359,2.944742,2.895380,1.888315,63.196621,12.762283,141.655918,4.887514,1.303693,...,3.012913,2.406987,188.436645,16.216568,15.014644,108.628338,5.132704,1.416516,155.18221,2943.020818
min,-9.220000,-20.159200,-17.249200,-15.024000,0.000000,0.000000,-204.240000,0.000000,0.000000,0.000000,...,-17.720000,-20.940000,0.000000,-149.380000,-105.050000,0.000000,0.000000,0.000000,0.00000,0.000000
25%,-0.080000,-1.313600,-2.306800,-1.930000,1.431038,0.000000,-12.000000,336.148000,3.251600,1.211200,...,-2.350000,-1.350000,298.700000,-5.820000,-8.960000,80.700000,2.000000,0.800000,0.00000,0.600000
50%,0.010000,0.000000,-0.133267,0.000000,3.296199,0.000000,-4.520000,382.310500,5.281667,1.724800,...,-0.120000,0.000000,364.700000,0.000000,0.000000,186.900000,4.500000,1.500000,12.70000,1293.700000
75%,0.090000,1.190000,1.484800,2.272400,4.730171,0.000000,1.000000,448.644000,8.352400,2.479200,...,1.520000,1.220000,430.800000,7.300000,3.580000,270.800000,7.600000,2.300000,60.10000,3613.600000
max,4.700000,15.259600,18.298400,13.947200,6.283185,1499.280000,43.160000,717.420000,64.755767,17.449833,...,18.960000,16.070000,723.000000,125.480000,152.310000,359.900000,68.200000,18.900000,3772.10000,24949.500000

In [143]:
df_merged.drop(['gic'], axis=1)

,Bz,By,Bx,clock,AE,SymH,Vsw,Dsw,Psw,newell,...,GSM_By,GSM_Bz,GSE_Vx,GSE_Vy,GSM_Vz,CLOCK_ANGLE_GSM,DENSITY,PDYN,EPSILON,NEWELL
Datetime,,,,,,,,,,,,,,,,,,,,,
2018-01-01 00:00:00,-5.5407,-3.928933,-0.1600,3.758403,285.25,-3.640000,371.070000,13.012667,3.584333,8408.696468,...,-4.61,-5.16,0.0,0.00,0.00,221.8,0.0,0.0,0.0,0.0
2018-01-01 00:01:00,-5.0996,-4.754533,0.4300,3.891988,290.68,-4.760000,371.540667,13.108800,3.618600,8053.182136,...,-6.64,-4.20,368.4,6.34,-33.90,237.7,13.5,3.7,276.5,7331.6
2018-01-01 00:02:00,-4.6552,-5.393200,0.9440,4.000304,294.20,-5.960000,372.138667,13.232800,3.663000,7734.425453,...,-6.02,-4.24,368.5,6.15,-33.85,234.8,13.4,3.7,255.7,7276.7
2018-01-01 00:03:00,-4.5236,-5.666800,1.1748,4.038708,290.64,-6.600000,372.732000,13.196400,3.664600,7677.776495,...,-5.61,-4.48,373.1,0.67,-32.31,231.4,13.2,3.7,260.3,7572.4
2018-01-01 00:04:00,-4.4976,-5.764000,1.2908,4.049781,284.76,-7.080000,373.162000,13.187500,3.670800,7689.198281,...,-5.60,-4.39,371.7,0.84,-32.87,231.9,13.1,3.7,252.5,7446.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2018-12-31 23:55:00,3.3244,1.748000,-2.6244,0.484081,0.00,-4.160000,459.383000,4.309700,1.815967,216.757583,...,2.13,3.19,452.6,-0.69,-4.26,33.7,4.5,1.8,1.4,314.1
2018-12-31 23:56:00,3.2607,1.786500,-2.7931,0.501221,0.00,-4.260000,459.118750,4.268125,1.796458,239.553287,...,1.25,3.44,0.0,0.00,0.00,20.0,0.0,0.0,0.0,0.0
2018-12-31 23:57:00,3.1755,1.885833,-2.9407,0.535900,0.00,-4.393333,458.433333,4.248333,1.782778,287.503047,...,2.34,2.93,0.0,0.00,0.00,38.6,0.0,0.0,0.0,0.0
2018-12-31 23:58:00,3.0707,1.974233,-3.1003,0.571386,0.00,-4.233333,455.077778,4.531667,1.875000,339.551441,...,2.02,3.10,0.0,0.00,0.00,33.1,0.0,0.0,0.0,0.0
2018-12-31 23:59:00,2.9475,2.049833,-3.2203,0.607664,0.00,-4.033333,452.452778,4.825000,1.976667,396.993755,...,1.96,3.00,0.0,0.00,0.00,0.0,0.0,0.0,0.0,0.0

In [145]:
from sklearn.decomposition import PCA
pca = PCA(n_components=3)
principalComponents = pca.fit_transform(df_merged)
principalDf2 = pd.DataFrame(data = principalComponents
             , columns = ['principal component 1', 'principal component 2','principal component 3'])

In [146]:
principalDf2

        principal component 1  principal component 2  principal component 3
0                 2522.722352            4980.099206              40.021187
1                 6791.115197           -1006.520481            -115.982313
2                 6506.883006           -1160.397033            -101.734742
3                 6644.695906           -1427.581950            -119.780090
4                 6574.535937           -1321.890212            -131.641522
...                       ...                    ...                    ...
525595           -3719.834045            -364.708532             -24.776885
525596           -3904.253743             -82.410442             -24.772698
525597           -3864.619447             -52.205333              12.987469
525598           -3819.373993             -18.662053              99.533414
525599           -3774.145927              17.082347             103.482732

[525600 rows x 3 columns]

In [147]:
df_merged_gic = df_merged_gic.reset_index()

In [148]:
df_merged_gic

                   Datetime   gic
0       2018-01-01 00:00:00  0.17
1       2018-01-01 00:01:00  0.17
2       2018-01-01 00:02:00  0.22
3       2018-01-01 00:03:00  0.13
4       2018-01-01 00:04:00  0.09
...                     ...   ...
525595  2018-12-31 23:55:00  0.09
525596  2018-12-31 23:56:00  0.10
525597  2018-12-31 23:57:00  0.09
525598  2018-12-31 23:58:00  0.11
525599  2018-12-31 23:59:00  0.12

[525600 rows x 2 columns]

In [149]:
df_merged_gic = df_merged_gic.merge(principalDf2, how='outer', left_index=True, right_index=True)

In [150]:
df_merged_gic

,Datetime,gic,principal component 1,principal component 2,principal component 3
0,2018-01-01 00:00:00,0.17,2522.722352,4980.099206,40.021187
1,2018-01-01 00:01:00,0.17,6791.115197,-1006.520481,-115.982313
2,2018-01-01 00:02:00,0.22,6506.883006,-1160.397033,-101.734742
3,2018-01-01 00:03:00,0.13,6644.695906,-1427.581950,-119.780090
4,2018-01-01 00:04:00,0.09,6574.535937,-1321.890212,-131.641522
...,...,...,...,...,...
525595,2018-12-31 23:55:00,0.09,-3719.834045,-364.708532,-24.776885
525596,2018-12-31 23:56:00,0.10,-3904.253743,-82.410442,-24.772698
525597,2018-12-31 23:57:00,0.09,-3864.619447,-52.205333,12.987469
525598,2018-12-31 23:58:00,0.11,-3819.373993,-18.662053,99.533414
525599,2018-12-31 23:59:00,0.12,-3774.145927,17.082347,103.482732

In [151]:
df_merged_gic = df_merged_gic.set_index('Datetime')
# df_merged_gic = df_merged_gic.reset_index(drop=True)

In [152]:
df_merged_gic

,gic,principal component 1,principal component 2,principal component 3
Datetime,,,,
2018-01-01 00:00:00,0.17,2522.722352,4980.099206,40.021187
2018-01-01 00:01:00,0.17,6791.115197,-1006.520481,-115.982313
2018-01-01 00:02:00,0.22,6506.883006,-1160.397033,-101.734742
2018-01-01 00:03:00,0.13,6644.695906,-1427.581950,-119.780090
2018-01-01 00:04:00,0.09,6574.535937,-1321.890212,-131.641522
...,...,...,...,...
2018-12-31 23:55:00,0.09,-3719.834045,-364.708532,-24.776885
2018-12-31 23:56:00,0.10,-3904.253743,-82.410442,-24.772698
2018-12-31 23:57:00,0.09,-3864.619447,-52.205333,12.987469
2018-12-31 23:58:00,0.11,-3819.373993,-18.662053,99.533414
2018-12-31 23:59:00,0.12,-3774.145927,17.082347,103.482732

In [153]:
compression_opts = dict(method='zip',
                        archive_name='pca_weakly_2018.csv')  
df_merged_gic.to_csv('pca_weakly_2018.zip', index=True,
          compression=compression_opts)